# fly.toml app configuration file generated for homepath-analyzer on 2025-11-22T13:34:59+10:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'homepath-analyzer'
primary_region = 'syd'

[build]
  dockerfile = 'Dockerfile.analyzer'

[env]
  PORT = '4000'

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
